@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.underline-on-hover:hover > .link {
  text-decoration-line: underline;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.underline-on-hover:hover {
  animation: shake 0.5s ease-in-out;
}
